.input {
  display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 340px;
    height: 100px;
    line-height: 100px;
    background-color:rgb(20, 20, 20);
    border-radius: 5px;
    color:white;
}
